---
layout: default
---
<div class="resume">
  <div class="resume-top print-only">
    <h1 class="site-name">Courtney G. Ives</h1>
    <h2>Fizzy Beverage Enthusiast, Visionary Furniture Arranger, Technologist</h2>
    <p>
      <i class="fa fa-mouse-pointer" aria-hidden="true"></i> https://courtney.ives.dev
      <i class="fa fa-envelope" aria-hidden="true"></i> courtney@ives.dev
    </p>
  </div>
  <div class="resume-top screen-only">
    <h2>Hey!</h2>
    <p>I'm a Vermonter living in  Minnesota, a language nerd, a big sci-fi fan, and a foster for <a href="https://safehandsrescue.org/">Safe Hands Animal Rescue</a>. I do <a href="https://www.instagram.com/snarkski/">artsy things</a>, too.</p>
    <p>I delight in puzzles, and in any opportunity to organize or simplify.</p>
    <p>I'm always endeavoring to be a champion for other people, especially the quiet ones.<p>
  </div>
  <hr>

  <div class="section">
    <h1>Experience</h1>

    <div class="agency-group">
      <h2 class="agency-section">Very Good Websites Co.</h2>
      <h3>Owner, Developer on the following projects:</h3>

      <div class="agency-roles">
        <h2>Lake Monster Brewing Company</h2>
        <h3>Saint Paul, MN | October 2017 — Present</h3>
        <p>Completed a website makeover that improved readability, accessibility, and asthetic appeal.</p>
        <p>Worked on the responsive Google Calendar food truck widget for the website.</p>
        <p>Kept the website taplist and events up to date, then upgraded the taplist to update automagically with the Untappd API.</p>
        <p>Built a React app for print and screen menus in the taproom.</p>
        <li><strong>Stack:</strong> React, JavaScript, SquareSpace CMS, HTML/CSS </li>
        <li><strong>Tools:</strong> GitLab, GitLab CI</li>

        <h2>Impact Hub MSP, Technology Volunteer</h2>
        <h3>Minneapolis, MN | November, 2018 — April, 2019 </h3>
        <div>
          <p><a href="https://www.impacthubmsp.com/">Impact Hub</a> provides workspace for people doing big things.</p>
          <p>Assisted in the implementation of a new member-check-in application built by <a href="https://primeacademy.io/courses/engineering">Prime Digital Academy</a> students.</p>
          <li><strong>Stack:</strong> React, Redux, JavaScript, Node, ExpressJS</li>
          <li><strong>Tools:</strong> GitLab, Git CLI</li>
        </div>
        <h2>Various</h2>
        <p>Redesigned a Square CMS website for a fine jewelry artist.</p>
        <p>Designed and implemented a new WordPress site for a media consultant.</p>
      </div>
    </div>

    <div class="agency-group">
      <h2 class="agency-section">TEKsystems Inc.</h2>
      <h3>Contract Developer on the following assignments:</h3>

      <div class="agency-roles">
        <h2>Full Stack Development, Q3C / Primoris</h2>
        <h3>Remote | March — July, 2020</h3>
        <p>Fixed bugs and added new features to a large construction management application.</p>
        <p>Coached the team around Agile strategies, and implemented practices to improve team communication and cohesion.</p>
        <p>Collaborated with other developers on debugging tools, bug fixes. Mentored newer developer.</p>
        <li><strong>Stack: </strong>TypeScript, Angular, Node, MSSQL</li>
        <li><strong>Tools: </strong>Jira, Git, Redis, DataGrip</li>

        <h2>Frontend Development, Allianz Life</h2>
        <h3>Saint Louis Park, MN | July — October, 2017</h3>
        <p>Collaborated closely with UX design team to create complex UI components under deadline for a new website with strict accessibility requirements.</p>
        <li><strong>Stack:</strong> JavaScript, HTML, CSS, Sass, PatternLab, Bootstrap</li>
        <li><strong>Tools:</strong> Jira, Git</li>

        <h2>Fullstack Development + QA, Questar Assessment Inc.</h2>
        <h3>Apple Valley, MN | August — December, 2016</h3>
        <p>Bridged a gap between development and QA teams by wearing many hats: QC/QA, CSS styling, technical documentation, and good ole programming. I was also the unofficial resident Apple/Mac expert.</p>
        <li><strong>Stack:</strong> JavaScript, LAMP, CSS, HTML</li>
        <li><strong>Tools:</strong> Agile, Jira, Confluence, Git, Vagrant</li>
      </div>
    </div>

    <div class="agency-group">
      <h2 class="agency-section">Randstad America</h2>
      <h3>Contract Developer on the following assignment:</h3>
      <div class="agency-roles">
        <h2>UI Development, CHS Inc.</h2>
        <h3>Inver Grove Heights, MN | April, 2019 — July, 2019</h3>
        <p>Brought UX designs to life with code, collaborating with the UX team to establish a new company-wide pattern library.</p>
        <li><strong>Stack:</strong> Angular, JavaScript, CSS/Sass, Material Design</li>
        <li><strong>Tools:</strong> Git, Azure DevOps, Agile, Octopus</li>
      </div>
    </div>

    <div>
      <h2>Full Stack Developer, Irish Titan</h2>
      <h3>Saint Louis Park, MN | January — October, 2018</h3>
      <p>Interfaced with a variety of clients to build them beautiful and complex ecommerce and CMS websites.</p>
      <p>Completely redesigned and simplified the WordPress site for cleaning product company.</p>
      <p>Added a provider-search feature and other major improvements on a medical company WordPress site.</p>
      <p>Established a brand new Magento site for a scientific supplies company.</p>
      <li><strong>Stack:</strong> WordPress, Magento2, Drupal, LAMP, PHP, Twig, LESS, Sass</li>
      <li><strong>Tools:</strong> Agile, Jira, Confluence, Git, Vagrant</li>
    </div>

    <h2>Web Developer, Schmitt Music</h2>
    <h3>Brooklyn Center, MN | December, 2016 — July, 2017</h3>
    <div>
      <p>Implemented the company's first online sales solution, and worked meticulously to improve the website's functionality and appearance. Established version control and a ticketing strategy using GitLab’s Kanban-style system.</p>
      <li><strong>Stack:</strong> WordPress, LAMP, JavaScript, HTML, CSS/Sass</li>
      <li><strong>Tools:</strong> Git, GitLab, Vagrant</li>
    </div>

    <div>
      <h2 class="agency-section">Tap|QA</h2>
      <h3>Testing Consultant on the following assignment:</h3>
      <div class="agency-roles">
        <h2>QA Tester, Cox Media Group</h2>
        <h3>Remote / Saint Louis Park, MN | June, 2015 — March, 2016</h3>
        <p>Collaborated with development and product teams to thoroughly document and test defects over many web properties.</p>
        <li><strong>Tools:</strong> Jira, Jenkins, VersionOne, Methode CMS, Medley CMS, Browser Dev Tools</li>
      </div>

    </div>


    <h2>Designer & Social Media Manager, Above the Fold Marketing</h2>
    <h3>Burlington, VT/Remote | 2011 — 2013</h3>
    <div>
      <p>Worked closely with our clients (including an insurance company, a sign maker, and an automotive company) to capture their brand voice and business goals in order to manage social media accounts and improve their websites with graphics and copy.
        <li><strong>Stack:</strong> WordPress, HTML, CSS</li>
        <li><strong>Tools:</strong> TeamWork, Adobe Illustrator, HootSuite</li>
      </div>
    </div>
    <hr />
    <div class="section">
      <h1>Education</h1>

      <h2>Full-Stack Software Engineering Certification </h2>
      <h3>Prime Digital Academy, 2016 — Bloomington, MN</h3>

      <h2>Communicative Disorders Post-baccalaureate</h2>
      <h3> UW-River Falls, 2015 — River Falls, WI  </h3>

      <h2>Bachelor of Liberal Arts: Linguistics </h2>
      <h3>Hampshire College, 2011 — Amherst, MA </h3>

      <h2>Certified Beer Judge</h2>
      <h3> BJCP, 2015 </h3>

    </div>
  </div>
