<div class="container side-panel-content">
  <div class="site-header">

    <a href="/"><h1 class="site-name">Courtney G. Ives</h1></a>
    <h3 class="dumb-titles">
      Fizzy Beverage Enthusiast,
      <br/>Visionary Furniture Arranger,
      <br/>Technologist
    </h3>

    <img src="/media/portrait.jpg" alt="Picture of me" class="screen-only">
    <ul class="contact screen-only">
      <li><a href="mailto:courtney@ives.dev"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/courtney-ives-a7076223"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      <li><a href="http://www.instagram.com/cgives"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </div>

<!-- <hr />
  <nav class="container navigation screen-only">
    <ul>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/fosters">Foster Dogs</a></li>
      <li><a href="/art">Lettering & Art</a></li>
    </ul>
  </nav> -->

</div>
