@page {
  size: letter portrait;
}

.print-only {
  display: block;
}

body, li {
  font-size: 10px;
}

a {
  color: unset;
}

.screen-only {
  display: none;
}

p {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22px;
  margin: 10px 0 3px 0;
}

h2, .resume .agency-roles h2 {
  font-size: 15px;
  margin: 10px 0 3px 0;
  page-break-after: avoid;
}

h3 {
  font-family: $font-heading;
  color: $color-secondary;
  font-size: 10px;
  font-weight: normal;
  margin: 3px 0 5px 0;
  page-break-after: avoid;
}

.agency-group {
  page-break-inside: avoid;
}

strong {
  font-weight: normal;
}

.resume-top {
  p {
    font-size: 12px;
  }
  h1 {
    margin: 0;
  }
  h2 {
    margin: 3px 0;
  }
  i {
    margin-left: 10px;
    color: $color-tertiary;
  }
}
