
.side-panel {
  color: $color-gray-black;
  background-color: $color-gray-light;

  .side-panel-content {
    margin-top: 50px;
    position: relative;
    text-align: center;
  }

  li {
    display: inline;
    list-style: none;
    padding: 10px;
    margin: unset;
  }

  .site-header {
    text-align: center;

    a {
      color: $color-gray-dark;

      &:hover {
        color: $color-highlight2;
      }
    }

    .site-name {
      color: $color-highlight1;
      font-size: 38px;
    }

    .dumb-titles {
      color: $color-tertiary;
      font-size: 25px;
      font-weight: normal;
      text-align: center;
    }

    img {
      display: block;
      border: 1px solid $color-primary;
      border-radius: 50%;
      margin: 20px auto;
    }
  }

  .contact {
    display: inline-block;
    margin: 10px auto;
    padding: 0;

    li > a {
      font-size: 30px;

      &:hover {
        color: $color-highlight2;
      }
    }
  }

  nav {
    ul {
      display: inline-block;
      margin: 10px auto;
      padding: 0;
    }

    a {
      color: $color-primary;
      font-family: $font-heading;
      font-size: 20px;

      &:hover {
        color: $color-tertiary;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
}

// desktop and larger:
@media screen and (min-width: $breakpoint-lg) {
  .side-panel {
    .side-panel-content {
      left: 5px;
      position: fixed;
      top: 10px;
      width: 32%;
    }
  }
}
