// ::::: typography ::::: //

@font-face {
  font-family: 'Raleway';
  src:  url('/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf');
}

$font-body: 'Raleway', sans-serif;
$font-heading: 'Anton', Arial;

p {
  font-size: 16px;
  font-family: $font-body;
  margin: 5px 0;
}

h1 {
  font-family: $font-heading;
  font-size: 36px;
  margin-top: 30px;
  color: $color-secondary;
}

h2 {
  font-family: $font-heading;
  font-size: 25px;
  margin-top: 30px;
  color: $color-primary;
}

h3 {
  font-family: $font-body;
  color: $color-tertiary;
  font-size: 17px;
  font-weight: bold;
}

h4 {
  font-family: $font-heading;
  color: $color-secondary;
  font-size: 19px;
}

li {
  list-style: square;
  margin-left: 15px;
  &::marker {
    color: $color-secondary;
  }
}

// ::::: links ::::: //
a {
  color: $color-secondary;
  &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
}
