
{% include head.html %}

<div class="container-fluid screen-only">
  <div class="row">
    <div class="col-lg-4 side-panel">
        {% include side-panel.html %}
    </div>

    <div class="col-lg-8 main-panel">
      <div class="container">

        <main> <!-- primary content section -->
          {{ content }}
        </main>
      </div>

    </div>
  </div>
</div>

<div class="print-only">
  {{ content }}
</div>

{% include footer.html %}
